

.App {
  background-color: #000000;
 
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  overflow: hidden;
  color: rgb(255, 254, 254);
  font-family:monospace;
}